
@{
    ViewBag.Title = "Eventos";
}

<h2>
    Página de Eventos<br /><br />

    @Html.ActionLink("Listar Eventos", "Listar", "Evento", new { area = "" }, new { @class = "btn btn-outline-info" })
</h2>