
@{
    ViewBag.Title = "Celulares";
}

<h2>
    Página de Celulares<br /><br />

    @Html.ActionLink("Listar Celulares", "Listar", "Celular", new { area = "" }, new { @class = "btn btn-outline-info" })
</h2>
