
@{
    ViewBag.Title = "Alunos";
}

<h2>
    Pagina de Alunos<br /><br />

    @Html.ActionLink("Listar Alunos", "Listar", "Aluno", new { area = "" }, new { @class = "btn btn-outline-info" })
</h2>

